.news {
  &,
  .header {
    background-color: var(--col-purple-700);
  }
  .header {
    padding: 3.2rem 2.4rem 2.4rem;

    &__heading {
      @include flex(row, space-between);
    }
  }

  .main {
    padding: 3.5rem 2rem 2rem;
    margin-top: auto;
    border-radius: 4rem 4rem 0 0;
    background-color: var(--col-white);

    &__content {
      @include flex;
      border-radius: 3rem;
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 1rem;
        position: absolute;
        box-shadow: var(--box-shadow-900);
        z-index: 2;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        box-shadow: var(--box-shadow-910);
        bottom: -1rem;
      }

      ::-webkit-scrollbar {
        width: 0;
      }

      &__container {
        max-height: 56.9rem;
        padding: 0.2rem 0.6rem;
        overflow: scroll;
        overflow-x: hidden;
      }
    }
  }
}
