.banner {
  max-width: 32.5rem;
  max-height: 10.5rem;
  background-image: var(--lin-gradient-purple-500);
  border-radius: 1.6rem;
  @include flex(row, flex-start);
  &:hover {
    cursor: pointer;
  }

  &__img {
    transform: translateY(-0.4rem);
    max-width: 11.1rem;
    margin-left: 0.8rem;
  }

  &__container {
    margin-left: 1.7rem;
    max-width: 17.7rem;
    @include flex(column, center, flex-start);
    @include gap(0.8rem);
  }
}
