.btn {
  min-width: 11.6rem;
  min-height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  @include font(1.4rem, 1.5rem, 500, "Graphik", var(--col-blue-900));
  background-color: var(--col-white);

  &--long {
    min-width: 16rem;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--secondary {
    @include font(1.6rem, 1.8rem, 500, var(--font-primary), var(--col-white));
  }

  &--red {
    background-color: var(--col-red-800);
  }

  &--blue {
    background-color: var(--col-blue-500);
  }
}
