.dropdown {
  .fi.fis {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    border: 1px solid var(--col-grey-400);
  }
  &__button {
    min-width: 11.6rem;
    min-height: 4rem;
    background-color: var(--col-white);
    border-radius: 5rem;
    border: none;
    text-align: center;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    @include flex(row, space-between);
    box-shadow: var(--box-shadow-500);
    position: relative;
    z-index: 3;

    svg {
      fill: var(--col-blue-700);
      stroke: var(--col-blue-700);
      transition: all 0.5s;
      transform: rotate(-180deg);
    }
  }

  &__list {
    display: none;
    max-width: 11.6rem;
    z-index: 2;
  }
  .dropdown__button:hover,
  .dropdown__list:hover {
    cursor: pointer;
  }
  &--active {
    position: relative;
    .dropdown__list {
      max-height: 22rem;
      box-shadow: var(--box-shadow-800);
      border-radius: 0 0 0.5rem 0.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
      display: block;
      position: absolute;
      transform: translateY(-2rem);
      > :first-child {
        min-height: 6rem;
        padding-top: 2rem;
      }
      > :last-child {
        border: none;
        box-shadow: var(--box-shadow-500);
      }

      &__option {
        min-width: 11.6rem;
        min-height: 4rem;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid var(--col-purple-300);
        border-left: none;
        background-color: var(--col-white);
        @include flex;
        @include gap(false, 1.2rem);
        transition: all 0.2s;
        &:hover {
          background-color: var(--col-purple-200);
        }
      }
    }
    .dropdown__button {
      svg {
        transition: all 0.5s;
        transform: none;
      }
    }
  }
}
